
@CHARSET "UTF-8";

.coupon-available,
.coupon-unavailable {
  float: left;
  font-size: 1em;
}

.coupon-unavailable {
  color: red;
}

.coupon-value {
  color: #003569;
  float: right;
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}

.coupon-code {
  clear: both;
  font-size: 6em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.auto-hint {
  color: #aaaaaa;
}

#edit-coupon-code-wrapper {
  margin-bottom: 5px;
  margin-top: 0;
}

